* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #302d2d;
}

.darkmode {
    background: #000;
}

.darkmode-text {
    color: #eee;
}

i {
    cursor: pointer;
    color: #3b3939;
}

span {
    font-size: 6rem;
    color: #302d2d;
    font-weight: 800;
}

#date {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
}

.container .clock-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .clock-container .secs {
    font-size: 6rem;
}

.container .clock-container .span-color {
    color: #302d2d;
}

.container .clock-container .display-secs .secs{
    color: #afacac;
}

.container .fetures {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #3b3939;
    justify-content: center;
}

.container .toggle-theme {
    width: 2.9rem;
    height: 1.4rem;
    border: solid #302d2d;
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
}
.container .toggle-theme::before {
    content: ' ';
    position: absolute;
    top: .04em;
    left: .1em;
    width: .9em;
    height: .9em;
    border: solid #302d2d;
    border-radius: 3rem;
    transition: 200ms ease-in-out;
}

.container .toggle-theme.active {
    border: #eee solid;
}

.container .toggle-theme.active::before {
    transform: translateX(100%);
    left: .4em;
    transition: 200ms ease-in-out;
    background-color: #000;
    border: #eee solid;
}

.container .toggle-12hrs {
    width: 2.9rem;
    height: 1.4rem;
    border: solid #302d2d;
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
}
.container .toggle-12hrs::before {
    content: ' ';
    position: absolute;
    top: .04em;
    left: .1em;
    width: .9em;
    height: .9em;
    border: var(--before,solid #302d2d);
    border-radius: 3rem;
    transition: 200ms ease-in-out;
}

.container .toggle-12hrs.active-h::before {
    transform: translateX(100%);
    left: .4em;
    transition: 200ms ease-in-out;
}

.container .display-12hrs {
    position: relative;
}

#ampm {
    position: absolute;
    top: 1em;
    font-size: 1.5em;
    visibility: hidden;
}








