* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

i {
    cursor: pointer;
    color: #3b3939;
}

span {
    font-size: 6rem;
    color: #302d2d;
    font-weight: 800;
}

#date {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #302d2d;
}

.container .clock-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .clock-container .colon {
    font-size: 6rem;
}

.container .clock-container .display-secs span{
    color: #afacac;
}

.container .fetures {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #3b3939;
    justify-content: center;
}

input[type="checkbox"].toggle {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 9000rem;
}

input[type="checkbox"].toggle + p{
    display: flex;
    gap: .25em;
    align-items: center;
    position: relative;
    font-size: 2rem;
}

input[type="checkbox"].toggle + p::before{
   content: " ";
   width: 2em;
   height: 1em;
   background-color: #eee;
   border-radius: 1em;
   border: .1rem #3b3939 solid;
}

input[type="checkbox"].toggle + p::after{
    position: absolute;
    content: " ";
    left: .1em;
    width: 0.8em;
    height: 0.8em;
    border-radius: 1em;
    border: .1rem #3b3939 solid;
}

input[type="checkbox"].toggle:checked + p::before{
    background-color: #000;
    border: .1rem #eee solid;
}

input[type="checkbox"].toggle:checked + p::after{
   transform: translateX(100%);
   border: .1rem #eee solid;
   border-radius: 1em;
   background-color: #000;
}

input[type="checkbox"].toggle:checked + p{
    color: red;
}







